<%- include('../layouts/header.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Checkout
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
            
                <div class="row">
                    <div class="col-12">
                        <div class="divider mt-50 mb-50"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-25">
                            <h4>Billing Details</h4>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>
                            <div class="table-responsive order_table text-center">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th colspan="2">Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td class="image product-thumbnail"><img src="/admin/assets/imgs/catogary/"
                                                    alt="#"></td>
                                            <td>
                                                <input type="hidden" id="productId" value="">
                                                <h5><a href="shop-product-full.html"></a></h5> <span
                                                    class="product-qty">x </span>
                                            </td>
                                            <td>₹</td>
                                        </tr>

                                        <div class="card-body">
                                            <p> No Product in your cart . Please add a product .</p>
                                        </div>



                                        <tr>
                                            <%if(locals.total){%>
                                                <th>SubTotal</th>
                                                <td class="product-subtotal" id="subtotalValue" colspan="2">₹<%=total%>
                                                        <%}%>
                                                </td>
                                        </tr>

                                        <tr>

                                            <th>offer Price</th>

                                            <td colspan="2"><em></em></td>
                                        </tr>

                                        <tr>
                                            <%if(locals.total){%>
                                                <th>Total</th>
                                                <td colspan="2" class="product-subtotal"><span id="totalValue" value=""
                                                        class="font-xl text-brand fw-900">₹<%=total%></span></td>
                                                <%}%>
                                        </tr>
                                </table>


                                <div class="col-lg-3">
                                    <button class="btn btn-sm" type="button" data-toggle="modal"
                                        data-target="#exampleModalCenter"> Your Coupons</button>
                                    <br><br>

                                    <button class="btn btn-sm" onclick="applyCoupon()"> Apply Coupons</button>



                                </div>


                            </div>
                            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                            <div class="payment_method">
                                <div class="mb-25">
                                    <h5>Payment</h5>
                                </div>
                                <div class="payment_option">

                                    <div class="custome-radio">
                                        <input class="form-check-input payment" type="radio" value="cod"
                                            name="payment_option" id="CashOnDelivey" checked="">
                                        <label class="form-check-label" for="CashOnDelivey" data-bs-toggle="collapse"
                                            data-target="#CashOnDelivey" aria-controls="CashOnDelivey">Cash on
                                            Delivery</label>

                                    </div>


                                    <div class="custome-radio">
                                        <input class="form-check-input payment" required="" value="wallet" type="radio"
                                            name="payment_option" id="wallet" checked="">
                                        <label class="form-check-label" for="wallet" data-bs-toggle="collapse"
                                            data-target="#wallet" aria-controls="paypal">wallet</label>

                                    </div>





                                    <!------------------------------------- Modal ------------------------------------>
                                    <div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog"
                                        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Your Coupons</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <table class="table">
                                                        <tbody>
                                                            <% if (coupon.length> 0) { %>
                                                                <% for (let i=0; i < coupon.length; i++) { %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= coupon[i].name %>
                                                                        </td>
                                                                        <td class="text-right">
                                                                            <button class="btn btn-sm btn-copy"
                                                                                data-coupon-name="<%= coupon[i].name %>">Copy</button>
                                                                        </td>
                                                                    </tr>
                                                                    <% } %>
                                                                        <% } else { %>
                                                                            <tr>
                                                                                <td colspan="2">No Coupon Available</td>
                                                                            </tr>
                                                                            <% } %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!------------------------------------- Modal -end----------------------------------->





                                    <div class="custome-radio">
                                        <input class="form-check-input payment" required="" value="online" type="radio"
                                            name="payment_option" id="Razorpay" checked="">
                                        <label class="form-check-label" for="Razorpay" data-bs-toggle="collapse"
                                            data-target="#Razorpay" aria-controls="paypal">Razorpay</label>

                                    </div>
                                </div>
                            </div>

                            <button id="submitButten" class="btn btn-fill-out btn-block mt-30"
                                onclick="placeOrder('')">Place Order</button>






                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="col-lg-4">
                            <div class="card card-body mb-4">
                                <article class="icontext">
                                    <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                            class="text-primary material-icons md-monetization_on"></i></span>
                                    <div class="text">
                                        <h6 class="mb-1 card-title">Wallet</h6>
                                        <span>₹</span>
                                        <span class="text-sm">
                                            <br>
                                            <br>
                                            <br>

                                            <br>
                                        </span>
                                    </div>
                                </article>

                                <button id="useWalletButton" onclick="useWallet('')" class="btn btn-sm">Use
                                    Wallet</button>



                            </div>
                        </div>









                        <div class="form-check  col-md-6">

                            <label class="form-check-label" for="flexRadioDefault1">

                                <div class="card">
                                    <div class="card-header">
                                        <%if(locals.data){%>
                                            <h5 class="mb-0">Shipping Address</h5>
                                            <%for(i=0;i<data[0].address.length;i++){%>

                                    </div>


                                    <div class="card-body" style="margin-left: 2rem;">


                                        <div style="display: flex; justify-content: space-between;">

                                            <input class="form-check-input address" type="radio" name="flexRadioDefault"
                                                id="<%= data[0].address[i] %>" value="<%=data[0].address[i]._id%>">
                                            <svg class="ms-auto text-dark" style="margin-bottom: 0.5rem;"
                                                aria-hidden="true"
                                                onclick="removeAdress('<%=data._id%>' , '<%=data[0].address[i]._id%>')"
                                                xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path
                                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                            </svg>
                                        </div>
                                        <address>
                                            Name: <%=data[0].address[i].name%><br>
                                                Pin: <%=data[0].address[i].pinCode%><br>
                                                    State: <%=data[0].address[i].state%>
                                                        Town: <%=data[0].address[i].town%>
                                                            Landmark: <%=data[0].address[i].landmark%><br>
                                                                Phone: <%=data[0].address[i].number%>
                                        </address>
                                        <a class="btn btn-info " id="edit" target="__blank" href="/editAdress?id=<%=data[0].address[i]._id%>">Edit</a>
                                        <%}%>
                                            <%}%>
                                    </div>
                                    
                                </div>
                            </label>
                            <a href="/addAdress"><button class="btn btn-primary"> add address</button></a>
                        </div>








                        <!-- <div class="card-body">

                            <p>No address found. Please add an address.</p>


                        </div> -->
                    </div>









                </div>

            </div>
            </div>
        </section>





    </main>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        function removeAdress(userId, addressId) {
            $.ajax({
                url: '/removeAdd',
                method: 'post',
                data: {
                    userId: userId,
                    addressId: addressId,
                },

                success: (response) => {
                    location.href = "/address"
                }
            })


        }
    </script>
    <!------------------------- coupons --------------------------------->
    <script>


        function applyCoupon() {
            swal({
                text: 'Apply your coupon code here !!!',
                content: 'input',
                button: {
                    text: 'Apply!',
                    closeModal: false,
                },
            })
                .then(couponCode => {
                    if (!couponCode) {
                        throw null; // No coupon code provided, so exit without making an AJAX request
                    }

                    // Perform an AJAX request here with the couponCode
                    fetch('/validateCoupon', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ couponCode }), // Send the couponCode in the request body
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.isValid) {

                                const displayedSum = document.getElementById('totalValue').textContent;
                                const numericValue = parseFloat(displayedSum.replace(/[^\d.]/g, ''));
                                const couponOfferPrice = parseFloat(data.coupon.offerPrice);
                                const newSum = numericValue - couponOfferPrice;

                                // Update the displayedSum value on the webpage
                                const displayedSumElement = document.getElementById('totalValue');
                                displayedSumElement.textContent = '₹' + newSum.toFixed(2);

                                swal('Coupon Valid!', `Coupon code '${couponCode}' is valid.`);


                            } else {
                                swal('Invalid Coupon', `Coupon code '${couponCode}' is not valid.`);
                            }
                        })
                        .catch(error => {
                            console.error('Error occurred during AJAX request:', error);
                            swal('Error', 'An error occurred while processing your request.', 'error');
                        });
                })
                .catch(error => {
                    if (error) {
                        swal('Oh noes!', 'An error occurred!', 'error');
                    } else {
                        swal.stopLoading();
                        swal.close();
                    }
                });
        }



    </script>
    <!------------------------- coupons end--------------------------------->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const copyButtons = document.querySelectorAll(".btn-copy");
            copyButtons.forEach(copyButton => {
                copyButton.addEventListener("click", function () {
                    const couponName = this.getAttribute("data-coupon-name");
                    copyToClipboard(couponName);
                    updateCopyButton(this); // Update the clicked copy button's appearance
                });
            });
        });

        function updateCopyButton(button) {
            button.textContent = 'Copied';
            button.disabled = true;
        }

        async function copyToClipboard(text) {
            try {
                await navigator.clipboard.writeText(text);
                console.log('Text copied to clipboard:', text);
            } catch (error) {
                console.error("Failed to copy:", error);
            }
        }
    </script>




    


    <script>

        function useWallet(sum, wallet) {

            var productId = document.getElementById('productId').value;

            $.ajax({
                url: "/api/user/useWallet",
                method: "POST",
                data: {
                    total: sum,
                    wallet: wallet,
                    prodId: productId
                },
                success: (response) => {
                    if (response.status) {



                        location.href = `/api/user/sumWallet?sum=${response.sum}`

                    }
                }
            })



        }
    </script>



    <!-- ------------------------------------------payment with razorpay----------------------------- -->



    <%- include('../layouts/footer.ejs') %>